@using IndexCRM.Admin.Localization
<div ng-controller="crm.couponManage.couponCreateOrEdit as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>创建优惠券</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="portlet light bordered">
                <div class="portlet-body form">
                    <form role="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="form_control_1" placeholder="" ng-model="vm.couponConfig.couponName" required>
                                        <label for="form_control_1" style="color:#000000;">优惠券名称</label>
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <input type="number" class="form-control" id="form_control_1" placeholder="" ng-model="vm.couponConfig.couponPoint" required>
                                        <label for="form_control_1" style="color:#000000;">兑换积分</label>
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <input type="number" class="form-control" id="form_control_1" placeholder="" ng-model="vm.couponConfig.couponNum" required>
                                        <label for="form_control_1" style="color:#000000;">优惠券数量</label>
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label>有效期</label>
                                        <div class="md-radio-inline">
                                            <div class="md-radio">
                                                <input type="radio" id="radio1" name="radio" class="md-radiobtn" ng-model="vm.couponConfig.validityMode" value="1">
                                                <label for="radio1">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    定时模式
                                                </label>
                                            </div>
                                            <div class="md-radio">
                                                <input type="radio" id="radio2" name="radio" class="md-radiobtn" ng-model="vm.couponConfig.validityMode" value="2">
                                                <label for="radio2">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    时长模式
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="vm.couponConfig.validityMode==1">
                                        <div class="col-md-5">
                                            <div class="form-group form-md-line-input has-success">
                                                <input type="text" id="StartTime" class="form-control" ng-model="vm.couponConfig.startTime" style="text-align:center;border-bottom: 1px solid #c2cad8;" readonly placeholder="">
                                                <label for="form_control_1"></label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-1" style="text-align:center">
                                            <div class="form-group form-md-line-input">
                                                <div style="height:34px;line-height:34px">至</div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group form-md-line-input has-success">
                                                <input type="text" id="EndTime" class="form-control" ng-model="vm.couponConfig.endTime" style="text-align:center;border-bottom: 1px solid #c2cad8;" readonly placeholder="">
                                                <label for="form_control_1"></label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-1" style="text-align:center">
                                            <div class="form-group form-md-line-input">
                                                <div style="height:34px;line-height:34px">有效</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="vm.couponConfig.validityMode==2">
                                        <div class="col-md-2" style="text-align:center">
                                            <div class="form-group form-md-line-input">
                                                <div style="height:34px;line-height:34px">获取后，第</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-md-line-input">
                                                <input type="number" class="form-control" ng-model="vm.couponConfig.effectDate" style="text-align:center" id="form_control_1" placeholder="">
                                                <label for="form_control_1"></label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="text-align:center">
                                            <div class="form-group form-md-line-input">
                                                <div style="height:34px;line-height:34px">天开始</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-md-line-input">
                                                <input type="number" class="form-control" ng-model="vm.couponConfig.validDate" style="text-align:center" id="form_control_1" placeholder="">
                                                <label for="form_control_1"></label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="text-align:center">
                                            <div class="form-group form-md-line-input">
                                                <div style="height:34px;line-height:34px">日内有效</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label for="form_control_1">是否在商城显示</label>
                                        <div class="md-radio-inline">
                                            <div class="md-radio">
                                                <input type="radio" id="radio3" name="radio1" class="md-radiobtn" ng-model="vm.couponConfig.isShow" value="true">
                                                <label for="radio3">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    是
                                                </label>
                                            </div>
                                            <div class="md-radio">
                                                <input type="radio" id="radio4" name="radio1" class="md-radiobtn" ng-model="vm.couponConfig.isShow" value="false">
                                                <label for="radio4">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    否
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <input type="number" class="form-control" id="form_control_1" ng-model="vm.couponConfig.sort" placeholder="">
                                        <label for="form_control_1" style="color:#000000;">商城排序</label>
                                        <span class="help-block">正序显示，可不填，默认9999</span>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="form_control_1" ng-model="vm.couponConfig.posKey" placeholder="">
                                        <label for="form_control_1" style="color:#000000;">POSKey</label>
                                        <span class="help-block">可不填，用于优惠券稽核</span>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <textarea class="form-control" rows="6" ng-model="vm.couponConfig.couponExplain" required></textarea>
                                        <label for="form_control_1" style="color:#000000;">优惠券说明</label>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center">
                                    <div class="form-group form-md-line-input">
                                        <img src="@Url.Content("~/Common/Images/default-profile-picture.png")" width="200" height="200" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <button type="button" class="btn blue" ng-click="vm.changePicture()">上传图片</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions noborder">
                                <button type="button" class="btn blue" ng-click="vm.save()">创建</button>
                                <button type="button" class="btn default" ng-click="vm.back()">返回</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>